<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>Abertura</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <style>
        #lista {
            padding-top: 62px;
        }
    </style>
</head>
<body ng-controller="PrincipalController">
<div class="container" ng-keydown="checkKey($event)">

    <nav class="navbar fixed-top navbar-light bg-faded">
        <div class="container">

            <div class="form-inline">
                <input type="text" class="form-control col-10" placeholder="Pesquisa" ng-model="search" id="search"
                       autocomplete="off">
                <div class="col"></div>
                <div class="col-auto">
                    <a href="create.html" class="btn btn-primary">
                        Create a new
                    </a>
                </div>
            </div>
        </div>
    </nav>

    <div class="" id="lista">
        <div class="list-group">
            <a ng-repeat="dir in directories | orderBy: name | filter:{name:search} as dirFiltered"
               href="{{dir.link}}"
               class="list-group-item list-group-item-action" ng-class="{active:isSelected($index)}">
                {{dir.name}}
            </a>
        </div>

    </div>
</div>
<script src="bower_components/angular/angular.min.js"></script>
<script src="app/start.js"></script>
<script src="app/app.js"></script>
</body>
</html>